html,
body {
    background-color: #68829E;
    font-family: sans-serif;
}

#main {
    margin-top: 10%;
    width: 100%;
    display: table;
}

#wrapper {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

h1 {
    color: #FFFFFF;
}

.title {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.button-div {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: #626588;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #505160;
}

.help-button {
    background-color: #626588;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 1%;
    position: fixed;
    bottom: 2%;
}

.help-button:hover {
    background-color: #505160;
}


/**************************** Load dropdown ****************************/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 150%;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    border-radius: 5px;
    padding: 15px 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

input[type=submit] {
    margin-top: 20px;
    background-color: #626588;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}