body {
  background-color: #68829E;
  font-family: sans-serif;
  margin: 0;
}

#Container {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  height: 500px;
  border: 3px solid #333;
  text-align: center;
  background-color: #ffffff;
}

/**************************** Main container navigation bar ****************************/

.inner-navbar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.inner-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.inner-navbar a:last-child {
  float: right;
}

/* Change the color of links on hover */
.inner-navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.inner-navbar a.active {
  background-color: #626588;
  color: white;
}

.inner-body{
  display: none;
  color: black;
  transition: 0.3s;
}

#Cities{
  display: block;
}

#Other{
  padding: 25px;
}

/**************************** Main container form table ****************************/
.form-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

.form-table td, .form-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.form-table tr {
  transition: 0.3s;
}

.form-table tr:nth-child(even){background-color: #f2f2f2;}

.form-table tr:hover {background-color: #ddd;}

.form-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.accept {
  background-color: #626588;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.go-back {
  background-color: #626588;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

/**************************** Bottom navigation bar ****************************/

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
  }

  .navbar a:last-child {
    float: right;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #626588;
    color: white;
  }