body {
    background-color: #68829E;
    font-family: sans-serif;
    margin: 0;
  }
  
  #container {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 500px;
    border: 3px solid #333;
    text-align: center;
    background-color: #ffffff;
  }
  
  /**************************** Main container navigation bar ****************************/
  
  .inner-navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .inner-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
  }
  
  .inner-navbar a:last-child {
    float: right;
  }
  
  /* Change the color of links on hover */
  .inner-navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .inner-navbar a.active {
    background-color: #626588;
    color: white;
  }
  
  .inner-body{
    display: none;
    color: black;
  }
  
  #Default-Folder{
    display: block;
  }
  
  /**************************** Bottom navigation bar ****************************/
  
  /* Place the navbar at the bottom of the page, and make it stick */
  .navbar {
      background-color: #333;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    
    /* Style the links inside the navigation bar */
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      transition: 0.3s;
    }
  
    .navbar a:last-child {
      float: right;
    }
    
    /* Change the color of links on hover */
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .navbar a.active {
      background-color: #626588;
      color: white;
    }